.edit-button {
    background-color: #ffcc00;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-button:hover {
    background-color: #e6b800;
  }
  
  /* Delete button style */
  .delete-button {
    background-color: #ff3333;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #e60000;
  }

  .button-space {
    margin-left: 10px;
  }
  .card-image-large {
    width: 50%;
    max-height: 300px; /* Adjust the maximum height as needed */
  }